<h1 class="titulo">Recetas uniandes</h1>
<div class="tarjetas-container">
  <div *ngFor="let recipe of recipes; let i = index" class="tarjeta">
    <img [src]="recipe.imagen || 'https://via.placeholder.com/200'" alt="{{ recipe.nombre }}" />
    <h3>{{ recipe.nombre }}</h3>

    <ul *ngIf="recipe.etiquetas">
      <li *ngFor="let tag of recipe.etiquetas">{{ tag }}</li>
    </ul>

    <p>Porciones: {{ recipe.porciones || '?' }}</p>
    <p># Ingredientes: {{ getCantidadIngredientes(recipe) }}</p>

    <a [routerLink]="['/recipe', i + 1]" class="btn">Ver la receta</a>
  </div>
</div>
